
body {
  padding-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}